.checkoutProduct__image {
  width: 150px;
}
.checkoutProduct {
  display: flex;
  margin: 0px 10px 30px 10px;
}
.checkoutProduct__right {
  margin-left: 20px;
  display: flex;
}
.checkoutProduct__info {
  margin-right: 20px;
}
