.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  position: relative;
}
.order:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.order__id {
  position: absolute;
  top: 40px;
  right: 20px;
}
.order__total {
  font-weight: 500;
  margin-left: 10px;
}
.order__bottom {
  display: flex;
  justify-content: space-between;
}
.order__date {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.order__address {
  margin-left: 10px;
}
.order__middle {
  display: flex;
}
