.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  position: relative;
}
.order__id {
  position: absolute;
  top: 40px;
  right: 20px;
}
.order__total {
  font-weight: 500;
  margin-left: 10px;
}
.order__bottom {
  display: flex;
  justify-content: space-between;
}
.order__date {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.order__address {
  margin-left: 10px;
}
.order__middle {
  display: flex;
}
